body {
  margin: 0;
  background-color: var(--c-background);
  color: var(--c-text);
  min-height: 100%;
}

* {
  margin: 0;
}

h2 {
  font: var(--fn-m);
}

.flicker-code {
  font-family: monospace;
  color: var(--c-primary);
}

header {
  height: var(--s-header-h);
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    height: 100%;
    border-radius: 100%;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
}

a {
  font: var(--fn-sm);
  color: inherit;
  text-decoration: none;
  position: relative;

  &:hover::after {
    transform: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    color: inherit;
    background: currentColor;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 200ms;
  }
}
